/*
 * corbel
================================================================================ */
@font-face {
    font-family: "Corbel";
    src: url("../fonts/corbel/corbel.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}